// main: ../style.less

* {
  font-family: @main-font;
}

h1,
h2,
h3 {
  font-family: @sec-font;
  
  * {
    font-family: @sec-font;
  }
}

body {
  margin-top: 0;
  width: 100%;
  overflow-x: hidden;
}

picture.icon {
  display: block;
  font-size: 0;

  .clearfix();
}

.primary-button() {
  background-color: @color-secondary;
  border-color: @color-secondary;
  border-radius: 0;
  color: @color-white;
  .transition(all .3s ease-in-out);

  &:hover {
    background-color: @color-secondary-high;
  }
}

.secondary-button() {
  background-color: @color-complement;
  border-color: @color-complement;
  border-radius: 0;
  color: @color-white;
  .transition(all .3s ease-in-out);

  &:hover {
    background-color: @color-complement-high;
  }
}

.region-header {
  .page-header {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 36px;
    font-family: @sec-font;
    text-align: left;
    color: @color-primary-high;
    border-bottom: 2px solid @color-primary-high;
  }

  .breadcrumb {
    margin-top: 40px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
  }
}