<div class="faq-list">
  <div class="faq-list-links">{{ links }}</div>
  <div class="faq-list-list">
    {% for item in list %}
      {{ item }}
    {% endfor %}
  </div>
  <div class="faq-list-pager">{{ pager }}</div>
</div>
