// main: ../style.less

.opiniao.teaser {
  .content {
    
    p {
      font-size: 16px;
      color: @color-gray-high;
      text-align: justify;
    }
  }
  footer {
    margin-top: 10px;
    
    > * {
      display: inline-block;
      vertical-align: inherit;
      margin: 0;
      font-size: 18px;
      color: @color-gray;
    }
    h3 {
      font-size: 22px;
      margin-right: 5px;
      
      a {
        color: @color-complement;
      }
      span {
        color: @color-complement;
      }
    }
  }
}
