// main: ../style.less

* {
  font-family: @main-font;
}

h1,
h2,
h3 {
  font-family: @sec-font;
  
  * {
    font-family: @sec-font;
  }
}

body {
  margin-top: 0;
}

picture.icon {
  display: block;
  font-size: 0;

  .clearfix();
}